$height-banner: 62vh;
.custom-banner {
    height: $height-banner;
    background-image: url('./assets/banner-plane.jpg');
    background-position: 50% 75%;
    background-size: cover;
    form {
        margin-top: $height-banner / 2;
        padding: 15px;
        background: white;
        border-radius: 5px;
        label {
            display: block;
            text-transform: uppercase;
        }
    }
}

.form-container {
    position: relative;
    span.new {
        position: absolute;
        top: -40px;
        left: 0px;
        color: white;
        background: rgba(255, 255, 255, 0.5);
        padding: 2px 20px;
        border-radius: 7px;
    }
}