.custom-card {
    .description {
        color: $blue;
        margin-bottom: 20px;
    }
    .picture {
        height: 200px;
        width: 100%;
        background: #eee;
        border-radius: 4px;
    }
}

.payments {
    img {
        height: 30px;
        width: 60px;
        background: #eee;
    }
}