.custom-card {
    .description {
        color: $blue;
        margin-bottom: 20px;
    }
    .picture {
        height: 200px;
        width: 100%;
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.payments {
    img {
        height: 45px;
    }
}