@font-face {
    font-family: 'Helvetica';
    src: url('./../police/HelveticaLTStd-Roman.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Light';
    src: url('./../police/HelveticaLTStd-Light.otf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Bold';
    src: url('./../police/HelveticaLTStd-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}