.custom-footer {
    .tabs {
        background: $orange;
        height: 40px;
        .tab {
            display: inline-block;
            text-transform: uppercase;
            color: white;
            height: 100%;
            padding: 10px;
            cursor: pointer;
            user-select: none;
        }
        .active {
            background: $blue;
            border-radius: 4px 4px 0 0;
        }
    }
    .bloc {
        background: $blue;
        color: white;
        .fake-link {
            margin: 15px 0;
            margin-left: 10px;
        }
        span.item {
            display: none;
        }
        span.item-active {
            display: block;
        }
    }
}