.form-payment {
    border-radius: 4px;
    padding: 7px;
    color: $blue;
    // .fields {
    //     display: flex;
    //     justify-content: space-between;
    //     width: 100%;
    // }
    label {
        text-transform: uppercase;
    }
}
#merch-fid {
    font-size: 14px;
    font-style: italic;
}