@function property-value($property, $selector: null) {
    @return $magic;
}

.custom-navbar {
    height: 60px;
    background: $blue;
    color: white;
    text-transform: uppercase;
    .logo {
        height: 20px;
    }
    .menu {
        @extend .list-menu;
    }
    .config {
        @extend .list-menu;
    }
    .custom-dropdown {
        position: relative;
        ul {
            position: absolute;
            display: none;
            z-index: 1;
            border-radius: 5px;
            background: white;
            min-width: 100%;
            li {
                padding: 3px 25px 3px 6px;
                list-style: none;
                color: grey;
                font-size: 14px;
            }
        }
        &:hover {
            ul {
                display: block;
            }
        }
    }
}