@function property-value($property, $selector: null) {
    @return $magic;
}

.custom-navbar {
    height: 60px;
    background: $blue;
    color: white;
    text-transform: uppercase;
    .logo {
        height: 20px;
    }
    .menu {
        @extend .list-menu;
    }
    .config {
        @extend .list-menu;
    }
}