.list-menu {
    ul {
        display: flex;
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            cursor: pointer;
            user-select: none;
        }
    }
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-align-end {
    display: flex;
    align-items: flex-end;
}

.flex-justify-right {
    display: flex;
    justify-content: flex-end;
}

img.arrow {
    height: 13px;
    padding-bottom: 2px; 
}

$sizes: 5 10 15 20 25 30 35 40 50 60 70 80 90 100 150 200;

@each $size in $sizes {
    .margin-r-#{$size} {
        margin-right: #{$size}px;
    }
    .margin-l-#{$size} {
        margin-left: #{$size}px;
    }
    .margin-t-#{$size} {
        margin-top: #{$size}px;
    }
} 


.fake-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.separator {
    height: 1px;
    border-bottom: 1px dotted $orange;
}