@import "./stylesheets/font.scss";
@import "./stylesheets/variables.scss";
@import "./stylesheets/utilities.scss";
@import "./stylesheets/container.scss";
@import "./stylesheets/buttons.scss";
@import "./stylesheets/navbar.scss";
@import "./stylesheets/banner.scss";
@import "./stylesheets/titles.scss";
@import "./stylesheets/cards.scss";
@import "./stylesheets/footer.scss";

body {
    font-family: 'Helvetica';
    padding: 0;
    margin: 0;
}
